/* mise en page générale*/
html{
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
}
body{
    margin:0
}

a{
    text-decoration: none;
    color:#FCCA46;
}

/*mise en page header*/
header{
  padding:2.5%;  
  background-color: #579C87;
}

h1,h3{
    text-align: center;
    color:#FCCA46;
    font-family: 'Archivo Black', sans-serif;
}

/* mise en page conteneur*/
.conteneur{
    padding:15%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu{
    box-shadow: 0px 2px 5px grey;
    overflow: hidden;
    margin:5%;
}

img {
    transition: all ease 500ms;
    width:350px;
}

img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}


/*mise en forme next*/
.Prochainement{
    background-color: #579C87;
    margin-left: 40%;
    margin-right: 35%; 
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}
.point{
   color:#FCCA46;
    float: right;
    display: flex;
    margin-top: 7%;
}

.point1{
    animation:bounce1 0.8s ease infinite;
}

@keyframes bounce1 {
    0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.point2{
    animation: bounce2 0.8s ease infinite;
}

@keyframes bounce2 {
    0% { transform: translateY(-10px); }
  50% { transform: translateY(0) }
  100% { transform: translateY(-10px); }
}

.point3{
    animation:bounce3 0.6s ease infinite;
}

@keyframes bounce3 {
    0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



/*mise en page footer */
footer{
    background-color: #579C87; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.flex2{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.wiggle:hover,.wiggle2:hover{
    animation: wiggle 50ms infinite;
    animation-timing-function:linear;   
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}


/*mise en forme responsive*/

@media all and (max-width: 700px){

    .menu{
        flex-direction: column;
        justify-content: center;
    }
    .conteneur{
        padding:5%;
    }
    .Prochainement{
        margin-left: 20%;
        margin-right: 20%;
    }
   
}