html{
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
}

body{
    margin:0
}

header{
  padding:5%;  
  background-color: rgb(70, 140, 80);
 }

h1{
    font-size: 2.5em;
    font-weight: bold;
}

h1,h2{
    text-align: center;
    color:rgb(250, 210, 10);
}

.conteneur{
    padding:5%;
    margin-left: 10%;
}

.wrapper{
    display: flex;
}

img {
    width:65%;
    height: auto;
    margin: 5%;
    box-shadow: 0px 0px 5px grey;   
} 

 img:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}

.wiggle{
    margin-right: 50%;
}

.wiggle:hover,.wiggle2:hover{
    animation: wiggle 50ms infinite;
    animation-timing-function:linear;   
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }

.centre{
    background-color: rgb(70, 140, 80);
    margin-left: 35%;
    margin-right: 35%; 
}

footer{
    background-color: rgb(70, 140, 80); 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}