html {
    font-size: 16px;
}

 body{
    margin:0;
    font-family: 'Kalam', cursive;
}

a{
    text-decoration: none;
    color:#FCCA46;
}
/* Mise en page en tête*/
header{
    padding:3%;  
    background-color: #579C87;
}
    
h2{
    color:#FCCA46;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
/*Mise en forme conteneur*/
.conteneur{
    padding:4%;
}

.menu{
    display: grid;
    grid-template-columns: 60% 10%;
    justify-content: center;
    font-family: 'Kalam', cursive;
}

.flex,.flex1{
    display: flex;
    justify-content: space-between;
    vertical-align: text-top;
}

h1{
    text-align: center;
    background: linear-gradient(80deg,rgb(108, 165, 2),#DAF79E);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    text-decoration: solid;
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5em;
}

h3,img{
    text-align: center;
    position: relative;
    transform: scale(1);
}
/*
h3:hover{
   content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
 */  
/*<MISE EN FORME FOOTER*/
footer{
    background-color: #579C87; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.foot{
    padding:1%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
}
.foot:hover{
    animation: wiggle 50ms infinite;
    animation-timing-function:linear;   
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}   
/*MISE EN FORME RESPONSIVE*/
@media all and (max-width: 800px){
    body{
        font-size: 13px;    
    }

    img{
        display: none;
    }
    .flex{
        justify-content: center;
    }
    h2,h1{
       font-size: 1.5em;
   }

}