html {
    font-size: 14px;
  }

body{
    font-family: 'Handlee', cursive;
}

header{
    padding:5%;  
    background-color: rgb(70, 140, 80);
    margin:0;
}

h1{
    text-align: center;
    color:rgb(250, 210, 10);
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5em;
}

h2{
    background: linear-gradient(30deg,#F17B14, #CF7B98 ,#433061);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin-bottom: 10%;
    font-size: 3.5em;
}

.wrapper{
    display: grid;
    grid-template-columns:70% 10%;
    margin-left:5%;
}

.conteneur{
    background-color: rgb(254, 250, 249);
    margin:5%;
    padding:5%
}

h3{
    text-align: center;
}

.entrée{
    color:#F17B14;
}

.plats{
    color: rgb(207, 123, 152);
}

.dessert{
    color: rgb(67, 48, 97);
}

.dessert>p{
    margin-left: 5%;
}

.flex{
    display: flex;
}

footer{
    background-color: rgb(70, 140, 80); 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.Mentions{
    margin-right: 45%;
}
/*
.entrée>h2:before{
    content:"";
    display: block;
    width: 300px;
    height: 3px ; 
    background: #F17B14  ;
    position: absolute;
    left: 0;
    top: 50%;
}

.entrée>h2:after{
    content:"";
    display: block;
    width: 300px;
    height: 3px ;
    background: #F17B14;
    position: absolute;
    right:0;
    top: 50%;
 }

.plats>h2:before{
    content:"";
    display: block;
    width:300px;
    height: 3px ;
    background: rgb(207, 123, 152);
    position: absolute;
    left: 0;
    top: 50%;
}

.plats>h2:after{
    content:"";
    display: block;
    width:300px;
    height: 3px ;
    background: rgb(207, 123, 152);
    position: absolute;
    right:0;
    top: 50%;
}


.dessert>h2:before{
    content:"";
    display: block;
    width:300px;
    height: 3px ;
    background: rgb(67, 48, 97);
    position: absolute;
    left: 0;
    top: 50%;
}

.dessert>h2:after{
    content:"";
    display: block;
    width:300px;
    height: 3px ;
    background: rgb(67, 48, 97);
    position: absolute;
    right:0;
    top: 50%;
}
*/
@media all and (max-width: 900px){
    body{
        display: flex;
        flex-direction: column;
       margin: auto;       
      }
      .conteneur{
          padding:1em;
      }
      h2{
          text-align:center;
          margin-top: 10%;
      }
      h2:before,h2:after{
        content:"";
        display: none;
      }
      .prix{
          float: right;
          vertical-align: bottom;
      }

}
