html {
    font-size: 14px;
  }

body{
    font-family: 'Handlee', cursive;
    margin:0;
}

a{
    text-decoration: none;
    color:#FCCA46;
}
/*mise en page en tête*/
header{
    padding:4%;  
    background-color: #579C87;
}

h2{
    text-align: center;
    color:#FCCA46;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
}
/*mise en page conteneur*/
h1{
    background: linear-gradient(#BF750C, #A1679A,#704BCE);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin-bottom: 5%;
    font-size: 3.5em;
    font-family: 'Lobster', cursive;
    font-family: 'Spectral', serif;
}

.conteneur{
    background-color:#FFF5FE;
    margin:5%;
    padding:5%
}

.entree,.plats{
    display: grid;
    grid-template-columns:70% 10%;
    justify-content: center;
}

h3{
    text-align: center;
}

.flex,.flex1,.flex2,.flex3{
    display: flex;
    justify-content: space-between;
}

.entree>p,.flex{
    color:#BF750C;
}

.plats>p,.flex1{
    color:#A1679A;
}

.dessert>p,.flex2{
    color: #704BCE;  
}

.dessert{
    margin-left: 10%;
}

/*mise en page footer*/
footer{
    background-color: #579C87; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.foot{
    padding:1%;
}

.foot:hover{
    animation: wiggle 50ms infinite;
    animation-timing-function:linear;   
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}

/* mise en page responsive*/
@media all and (max-width: 800px){

    body{
        font-size: 12px;
}
    
    img{
        display: none;
}
   
   h2,h1{
       font-size: 1em;
}

   .flex,.flex1,.flex2{
       justify-content: center;
   }
}
