html {
    font-size: 14px;
}

 body{
    margin:0;
    font-family: 'Kalam', cursive;
}

a{
    text-decoration: none;
    color:rgb(250, 210, 10);
}
/* Mise en page en tête*/
header{
    padding:3%;  
    background-color: rgb(70, 140, 80);
}
    
h2{
    color:rgb(250, 210, 10);
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    text-align: center;
}
/*Mise en forme conteneur*/

.menu{
    display: grid;
    grid-template-columns: 60% 10%;
    justify-content: center;
    font-family: 'Kalam', cursive;
}

.flex{
    display: flex;
    justify-content: space-between;
    vertical-align: text-top;
}

h1{
    text-align: center;
    background: linear-gradient(80deg,rgb(108, 165, 2),#DAF79E);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    text-decoration: solid;
    font-family: 'Kaushan Script', cursive;
    font-size: 4.5em;
}

h3{
    text-align: center;
}
   
/*<MISE EN FORME FOOTER*/
footer{
    background-color: rgb(70, 140, 80); 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.foot{
    padding:1%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5em;
}
.foot:hover{
    animation: wiggle 50ms infinite;
    animation-timing-function:linear;   
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}   
/*MISE EN FORME RESPONSIVE*/
@media all and (max-width: 800px){
    body{
        margin: 0;   
        font-size: 14px;    
    }

    img{
        display: none;
    }
   
   h2{
       font-size: 1.5em;
   }

}