/* mise en page générale*/
html{
    font-size: 16px;
    font-family: 'Archivo Black', sans-serif;
}
body{
    margin:0
}

a{
    text-decoration: none;
    color:#FCCA46;
}

/*mise en page header*/
header{
  padding:3.5%;  
  background-color: #579C87;
}

h2{
    text-align: center;
    color:#FCCA46;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
}

/* mise en page conteneur*/

.conteneur{
    padding:5%;
}

.carte{
    display: flex;
    align-items: stretch;;
}

img {
    width:65%;
    height: auto;
    margin: 5%;
    transition: all ease 500ms;
    box-shadow: 0px 0px 5px grey;  
} 

 img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
/*mise en forme next*/
.next{
    background-color: #579C87;
    margin-left: 30%;
    margin-right: 30%; 
    margin-bottom: 160px;
}


/*mise en page footer */
footer{
    background-color: #579C87; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.wiggle:hover,.wiggle2:hover{
    animation: wiggle 50ms infinite;
    animation-timing-function:linear;   
    cursor: pointer;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }


/*mise en forme responsive*/

@media all and (max-width: 800px){
    
    img{
        display: none;
    }
    .carte{
        flex-direction: column;
    }
   
   h2,h1{
       font-size: 1.5em;
    }

   .flex,.flex1,.flex2{
       justify-content: center;
   }
}